{% extends 'base.html' %}


{% block title %}ホーム{% endblock title %}


{% block content %}
{% if messages %}
	{% for message in messages %}
		<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
	{% endfor %}
{% endif %}
<h2>ホーム</h2>
{% for tweet in tweets %}
        <div class="card">
            <b class="card-header"><a href="{% url 'accounts:user_profile' tweet.user %}">{{ tweet.user }}</a></b>
            <div class="card-body">
                <p class="card-text">{{ tweet.content }}</p>
            </div>
            <div class="card-footer text-muted">
                {{ tweet.created_at }}
                <span><a href="{{ tweet.get_absolute_url }}">詳細</a></span>
            </div>
        </div>
        <br>
{% endfor %}
{% endblock content %}
