{% extends 'base.html' %}


{% block title %}ホーム{% endblock title %}


{% block content %}
<h2>ホーム</h2>
{% for tweet in tweets %}
        <div class="card">
            <b class="card-header"><a href="{% url 'accounts:user_profile' tweet.user.profile.pk %}">{{ tweet.user }}</a></b>
            <div class="card-body">
                <p class="card-text">{{ tweet.content }}</p>
            </div>
            <div class="card-footer text-muted">
                {{ tweet.created_at }}
                <span><a href="{{ tweet.get_absolute_url }}">詳細</a></span>
            </div>
        </div>
        <br>
{% endfor %}
{% endblock content %}
