{% extends "base.html" %}


{% block title %}フォロワー一覧{% endblock title %}


{% block content %}
<h2>{{ username }}のフォロワー一覧</h2>
{% for follower in follower_list %}
<div class="card text-center">
    <div class="card-header">
        <b>{{ follower.follower }}</b>
    </div>
    <div class="card-body">
        <a href="{% url 'accounts:user_profile' follower.follower.profile.pk %}"><button type="button" class="btn btn-outline-primary">プロフィールへ</button></a>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}
