{% extends 'base.html' %}


{% block title %}プロフィール{% endblock title %}


{% block content %}
{% for my_tweet in my_tweets %}
        <div class="card">
            <b class="card-header">{{ my_tweet.user }}</b>
            <div class="card-body">
                <p class="card-text">{{ my_tweet.content }}</p>
            </div>
            <div class="card-footer text-muted">
                {{ my_tweet.created_at }}
                <span><a href="{{ my_tweet.get_absolute_url }}">詳細</a></span>
            </div>
        </div>
        <br>
{% endfor %}
{% endblock content %}
