{% extends 'base.html' %}


{% block title %}プロフィール{% endblock title %}


{% block content %}
<h2>プロフィール</h2>
<div class="card">
    <div class="card-header">
            <div class="d-flex justify-content-center">
                <b>{{ profile.username }}</b>
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                {% if request.user.username == profile.username %}
                    <a href="#">プロフィール編集</a>
                {% elif connection_exists %}
                        <form method="POST" action="{% url 'accounts:unfollow' profile.username %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">フォロー解除</button>
                        </form>
                {% else %}
                    <form method="POST" action="{% url 'accounts:follow' profile.username %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">フォロー</button>
                    </form>
                {% endif %}
            </div>
    </div>
    <div class="card-body">
        <p class="card-text">誕生日:{{ profile.birth_date }}</p>
        <p class="card-text">自己紹介:{{ profile.self_introduction }}</p>
        <div class="d-flex flex-row">
            <div class="p-2 bd-highlight"><p class="card-text">フォロー中: <a href="{% url 'accounts:following_list' profile.username %}">{{ following_count }}</a></p></div>
            <div class="p-2 bd-highlight"><p class="card-text">フォロワー: <a href="{% url 'accounts:follower_list' profile.username %}">{{ follower_count }}</a></p></div>
        </div>
    </div>
</div>
<hr>
<p><b>{{ profile.username }}のツイート</b></p>
{% for tweet in tweets %}
        <div class="card">
            <b class="card-header">{{ tweet.user }}</b>
            <div class="card-body">
                <p class="card-text">{{ tweet.content }}</p>
            </div>
            <div class="card-footer text-muted">
                {{ tweet.created_at }}
                {% if request.user == tweet.user %}
                    <a href="{% url 'tweets:delete' tweet.pk %}"><button type="button" class="btn btn-danger">削除</button></a>
                {% endif %}
            </div>
        </div>
        <br>
{% endfor %}
{% endblock content %}
